<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <!-- SAF grants access to the selected tree without broad storage permissions. -->

    <application
        android:label="Reprise A1 Probe"
        android:supportsRtl="true"
        android:theme="@style/Theme.Spike">
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>
