[Desktop Entry]
Type=Application
Name=Reprise
Name[de]=Reprise
Name[es]=Reprise
GenericName=Music Player
GenericName[de]=Musikwiedergabe
GenericName[es]=Reproductor de música
Comment=Play and organize your local music library
Comment[de]=Die lokale Musiksammlung abspielen und organisieren
Comment[es]=Reproduce y organiza tu biblioteca de música local
Exec=reprise %F
Icon=io.github.marvinbaudach.Reprise
Terminal=false
StartupNotify=true
Categories=GTK;GNOME;AudioVideo;Audio;Player;
MimeType=audio/mpeg;audio/flac;audio/ogg;audio/x-opus+ogg;audio/mp4;audio/aac;audio/x-wav;audio/x-mpegurl;application/vnd.apple.mpegurl;
Keywords=music;audio;library;playlist;player;
Keywords[de]=Musik;Audio;Sammlung;Wiedergabeliste;Player;
Keywords[es]=música;audio;biblioteca;lista de reproducción;reproductor;
X-GNOME-UsesNotifications=true
